.App {
  color: #333;
  border: 1px solid #aaa;
  border-radius: 6px;
  background: #4a5b65;
  margin: 2em;
  padding: 0;
  min-height: 20em;
  min-width: 85%;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15); 
}

.App h2{
	background-color: #48CC0C;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color:#fff;
	font-size:16px;
	font-weight: 100;
	line-height: 56px;
	padding-left: 15px;
	margin:0;  
}

.App li{
  background-color: #262e4c;
	border-bottom:1px solid #1c2340;
	color: #b1b2c9;
}

.App h2{
	box-sizing: border-box;
}
/*signOut but*/
.App h2 button{
	float: right;
	margin-top: 0.9em;
	margin-right: 0.8em;
  background: #203515;
  color: #ccc;
  width: 50px;
  height: 30px;
  border: 0;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

.App h2 button:focus {
  outline: 0;
}

.App h2 button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
}

.App h2 button:hover {
  background: #338033;
  cursor: pointer;
}
