/*theme dark*/

.AppDark .TodoItem {
	background-color: #262e4c;
	border-bottom: 1px solid #1c2340;
	color: #b1b2c9;
	cursor: pointer;
	display: block;
	line-height: 56px;
	padding: 0 15px;
	position: relative;
}

.AppDark .TodoItem:hover {
	background-color: #2a3353;
	color: #8284a3;
}

.AppDark .TodoItem span {
	margin-left: 30px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.AppDark .TodoItem a {
	background-color: #D81029;
	border-radius: 50%;
	color: #fff;
	display: none;
	float: right;
	font-weight: bold;
	line-height: normal;
	height: 16px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	width: 16px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.AppDark .TodoItem:hover a {
	display: block;
}

.AppDark .TodoItem a:hover {
	background-color: #fff;
	color: #D81029;
}

.AppDark .TodoItem a b {
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
}

.AppDark .TodoItem input[type="checkbox"] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 22px;
	left: 17px;
	z-index: 3;
}

.AppDark .TodoItem input[type="checkbox"]+i {
	background-color: #404a6e;
	border-radius: 50%;
	display: block;
	height: 16px;
	position: absolute;
	top: 20px;
	width: 16px;
	z-index: 1;
}

.AppDark .TodoItem input[type="checkbox"]:checked+i:after {
	background-color: #6E6E96;
	border-radius: 50%;
	content: '';
	display: block;
	height: 8px;
	left: 4px;
	position: absolute;
	top: 4px;
	width: 8px;
	z-index: 2;
}

.AppDark .TodoItem input[type="checkbox"]:checked~span {
	color: #586186;
	text-decoration: line-through;
}


/*theme light*/

.AppLight .TodoItem {
	background-color: #D8D8D8;
	border-bottom: 1px solid #B8B8B8;
	color: #6A6464;
	cursor: pointer;
	display: block;
	line-height: 56px;
	padding: 0 15px;
	position: relative;
}

.AppLight .TodoItem:hover {
	background-color: #E8E8E8;
	color: #9B9090;
}

.AppLight .TodoItem span {
	margin-left: 30px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.AppLight .TodoItem a {
	background-color: #D81029;
	border-radius: 50%;
	color: #FFFFFF;
	display: none;
	float: right;
	font-weight: bold;
	line-height: normal;
	height: 16px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	width: 16px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.AppLight .TodoItem:hover a {
	display: block;
}

.AppLight .TodoItem a:hover {
	background-color: #5C5C5C;
	color: #FFAAB4;
}

.AppLight .TodoItem a b {
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
}

.AppLight .TodoItem input[type="checkbox"] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 22px;
	left: 17px;
	z-index: 3;
}

.AppLight .TodoItem input[type="checkbox"]+i {
	background-color: #B3BAD3;
	border-radius: 50%;
	display: block;
	height: 16px;
	position: absolute;
	top: 20px;
	width: 16px;
	z-index: 1;
}

.AppLight .TodoItem input[type="checkbox"]:checked+i:after {
	background-color: #6E6E96;
	border-radius: 50%;
	content: '';
	display: block;
	height: 8px;
	left: 4px;
	position: absolute;
	top: 4px;
	width: 8px;
	z-index: 2;
}

.AppLight .TodoItem input[type="checkbox"]:checked~span {
	color: #AFB0B6;
	text-decoration: line-through;
}